<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <p>{{name}} {{surname}}!</p>
    <p style="margin-left: 10px">
      {{age}} <br/>
    </p>
    {% if goods %}
    <table>
      <tr>
        <td>id</td>
        <td>Наименование</td>
        <td>Цена</td>
        <td>Количество</td>
      </tr>
      {% for good in goods %}
      <tr>
        <td><a href="?good={{ good.id_goods|escape }}" >{{good.id_goods|escape}}</a></td>
        <td>{{ good.name|escape|upper }}</td>
        <td>{{ good.price|escape }}</td>
        <td>{{ good.quantity|escape }}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
      <b>Список товаров пуст</b>
    {% endif %}
  </body>
</html>