{% for good in goods %}
<div class="col">
  <div class='card mt-3' style='width: 18rem;'>
    <img src={{good.path_img}} class='card-img-top' alt={{good.name}}>
    <div class='card-body'>
      <h5 class='card-title'>{{good.name}}</h5>
      <p class='card-text mb-0'>Цена {{good.price}} &#8381;</p>
      <a href='product.php?id_product={{ good.id_goods|escape }}' class='btn btn-primary mt-3'>Открыть</a>
    </div>
  </div>
</div>
{% endfor %}