<h1>Login</h1>
<form action="" method="POST">
  <div class="mb-3">
    <label>Email</label>
    <input
      type="email"
      name="login"
      class="form-control{{model.hasError('login') ? ' is-invalid' : ''}}"
      value={{model.login}}
    >
    <div class="invalid-feedback">
      {{model.getFirstError('login')}}
    </div>
  </div>
  <div class="mb-3">
    <label>Password</label>
    <input
      type="password"
      name="password"
      class="form-control{{model.hasError('password') ? ' is-invalid' : ''}}"
      {# value={{model.password}} #}
    >
    <div class="invalid-feedback">
      {{model.getFirstError('password')}}
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>